In [1]:
pip install langchain_community

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: langchain_community in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (0.0.34)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (2.0.29)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (0.1.50)
Requirement already satisfied: numpy<2,>=1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: PyYAML>=5.3 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (6.0.1)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (3.9.5)
Requirement already satisfied: requests<3,>=2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (8.2.3)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (0.6.4)
Requirement already satisfied: langchain-core<0.2.0,>=0.1.45 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain_community) (0.1.45)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.3)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (23.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.9.4)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.21.1)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (1.33)
Requirement already satisfied: pydantic<3,>=1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (2.7.1)
Requirement already satisfied: packaging<24.0,>=23.2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (23.2)
Requirement already satisfied: jsonpointer>=1.9 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.2.0,>=0.1.45->langchain_community) (2.4)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from langsmith<0.2.0,>=0.1.0->langchain_community) (3.10.1)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.45->langchain_community) (4.11.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.45->langchain_community) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.45->langchain_community) (2.18.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2->langchain_community) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2->langchain_community) (2024.2.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2->langchain_community) (2.2.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
from langchain_community.llms import Ollama

/Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
llm = Ollama(model="llama2")
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
Taxi Utrecht, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

'\nCertainly! Here are the expenses you provided, along with an appropriate category for each one:\n\nTaxi Utrecht - Transportation\nMinisterie van Justitie en Veiligheid - Government\nEtos AMSTERDAM NLD - Food and Beverage\nBistro Bar Amsterdam - Food and Beverage\n\nSo, the categories are:\nTransportation, Government, Food and Beverage, and Food and Beverage.'

Read the transaction data

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/vaishnavimhaske/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
data = pd.read_csv("Financial_Transactions_2023_2024.csv")
data.head()

         Date   Name / Description Expense / Income  Amount (EUR)
0  2023-01-01          Home Repair          Expense        504.99
1  2023-01-02  Pharmacy Medication          Expense       1356.44
2  2023-01-03       Pizza Delivery          Expense       1621.80
3  2023-01-04        Laptop Repair          Expense        867.14
4  2023-01-05      Dividend Income           Income       1505.51

In [4]:
#Get unique transaction in the Name/Description column
unique_transactions = data["Name / Description"].unique()
len(unique_transactions)

94

Categorize bank transactions with Llama2

In [5]:
# Get index list
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 30, 60, 90, 94]

In [6]:
def categorize_transactions(transaction_names,llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Monthly Apartment Rent - Housing and Utilities, Electricity Bill - Housing and Utilities, Uber Ride - Transportation etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')
    print(response)

    #Put in dataframe

    categories_data = pd.DataFrame({'Transaction vs Category' : response})
    categories_data[['Transaction', 'Category']] = categories_data['Transaction vs Category'].str.split(' - ', expand=True)
    
    return categories_data

In [7]:
# Test out the function
categorize_transactions('Restaurant Dining, Gym Membership, Netflix Subscription, Home Repair',
                        llm)

['', 'Of course! Here are the expenses you provided with appropriate categories:', '', '1. Restaurant Dining - Food and Beverage', '2. Gym Membership - Fitness', '3. Netflix Subscription - Entertainment', '4. Home Repair - Home Maintenance']

,Transaction vs Category,Transaction,Category
0,,,None
1,Of course! Here are the expenses you provided ...,Of course! Here are the expenses you provided ...,None
2,,,None
3,1. Restaurant Dining - Food and Beverage,1. Restaurant Dining,Food and Beverage
4,2. Gym Membership - Fitness,2. Gym Membership,Fitness
5,3. Netflix Subscription - Entertainment,3. Netflix Subscription,Entertainment
6,4. Home Repair - Home Maintenance,4. Home Repair,Home Maintenance

In [8]:
#Intialise the categories_data_all dataframe
categories_data_all = pd.DataFrame()

#Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = '.'.join(transaction_names)

    categories_data = categorize_transactions(transaction_names, llm)
    categories_data_all = pd.concat([categories_data_all, categories_data], ignore_index=True)

['Sure, here are the expenses you provided with appropriate categories:', '', '1. Home Repair - Home Improvement', '2. Pharmacy Medication - Healthcare', '3. Pizza Delivery - Food', '4. Laptop Repair - Electronics', '5. Dividend Income - Investment', '6. Rental Income - Real Estate', '7. Yoga Retreat - Travel', '8. Book Purchase - Entertainment', '9. Electronics Store Purchase - Electronics', '10. Bicycle Repair - Transportation', '11. Art Exhibition Ticket - Entertainment', '12. Uber Ride - Transportation', '13. City Tour - Travel', '14. Massage Session - Wellness', '15. Parking Fee - Transportation', '16. Festival Ticket - Entertainment', '17. Electricity Bill - Utilities', '18. Consulting Fees - Business', '19. Vitamins and Supplements - Healthcare', '20. Software License - Technology', '21. Museum Entry - Entertainment', '22. Hair Salon Visit - Beauty', '23. Financial Advisor Consultation - Finance', '24. Amazon Purchase - Shopping', '25. Plumbing Services - Home Improvement', '26. Grocery Shopping - Food', '27. Public Transit Ticket - Transportation', '28. Stock Sale Profit - Investment', '29. Wine Purchase - Entertainment', '30. Music Performance Fee - Entertainment', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']
['Certainly! Here are the expenses you provided, categorized into 40 different categories:', '', '1. Apple Services - Technology', '2. Acupuncture Treatment - Health and Wellness', '3. Car Wash - Transportation', '4. Hotel Booking - Travel', '5. Garden Supplies - Home and Garden', '6. Movie Ticket - Entertainment', '7. Theater Ticket - Entertainment', '8. Photography Session Fee - Professional Services', '9. Optometrist Visit - Health and Wellness', '10. Medical Insurance - Finances', '11. Martial Arts Class - Recreation', '12. Wedding Gift - Personal Expenses', '13. TK Maxx Amsterdam DA - Shopping', '14. Book Royalties - Professional Services', '15. Cleaning Services - Home and Garden', '16. Library Fine - Personal Expenses', '17. Safari Adventure - Travel', '18. Pet Supplies - Pets', '19. Birthday Gift - Personal Expenses', '20. Mobile Phone Recharge - Technology', '21. Freelancing - Professional Services', '22. Chinese Takeout - Food and Dining', '23. Hardware Store Purchase - Home and Garden', '24. Gas Bill - Utilities', '25. Music Album - Entertainment', '26. Yoga Class Fee - Recreation', '27. Spiritual Retreat - Personal Expenses', '28. Airline Ticket - Travel', '29. Selling Paintings Revenue - Professional Services', '', 'I hope this helps you keep track of your expenses and income in different categories!']
[' Sure, here are the expenses you provided with appropriate categories:', '', '1. Restaurant Dining - Food', '2. Italian Restaurant - Food', '3. Golf Club Fee - Recreation', '4. Dental Checkup - Healthcare', '5. Mortgage Payment - Housing and Utilities', '6. Sushi Restaurant - Food', '7. Train Ticket - Transportation', '8. Monthly Apartment Rent - Housing and Utilities', '9. Mountain Hiking Trip - Recreation', '10. Orthodontic Treatment - Healthcare', '11. Freelancing Payment - Career', '12. Annual Credit Card Fee - Finance', '13. Coffee Machine - Household', '14. Charity Donation - Philanthropy', '15. Legal Services - Professional Services', '16. Winter Coat Purchase - Clothing', '17. Concert Ticket - Entertainment', '18. Selling Paintings - Art', '19. Water Bill - Utilities', '20. Spa Treatment - Wellness', '21. Car Insurance - Transportation', '22. Bank Loan Repayment - Finance', '23. Nail Salon Visit - Grooming', '24. Gym Membership - Fitness', '25. Clothes Shopping - Clothing', '26. Etsy Store Sales - Business', '27. Beer Purchase - Beverages', '28. Netflix Subscription - Entertainment', '29. Internet Bill - Utilities', '30. Chiropractic Session - Healthcare', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']
['', 'Of course! Here are the appropriate categories for each expense you listed:', '', '1. Fitness App Subscription - Entertainment', '2. Ski Pass - Recreation', '3. Skin Care Products - Personal Care', '4. Starbucks Coffee - Food and Beverage']

In [9]:
categories_data_all

,Transaction vs Category,Transaction,Category
0,"Sure, here are the expenses you provided with ...","Sure, here are the expenses you provided with ...",None
1,,,None
2,1. Home Repair - Home Improvement,1. Home Repair,Home Improvement
3,2. Pharmacy Medication - Healthcare,2. Pharmacy Medication,Healthcare
4,3. Pizza Delivery - Food,3. Pizza Delivery,Food
...,...,...,...
103,,,None
104,1. Fitness App Subscription - Entertainment,1. Fitness App Subscription,Entertainment
105,2. Ski Pass - Recreation,2. Ski Pass,Recreation
106,3. Skin Care Products - Personal Care,3. Skin Care Products,Personal Care
107,4. Starbucks Coffee - Food and Beverage,4. Starbucks Coffee,Food and Beverage

In [10]:
#get unique categories in categories_data_all
unique_categories = categories_data_all['Category'].unique()
unique_categories

array([None, 'Home Improvement', 'Healthcare', 'Food', 'Electronics',
       'Investment', 'Real Estate', 'Travel', 'Entertainment',
       'Transportation', 'Wellness', 'Utilities', 'Business',
       'Technology', 'Beauty', 'Finance', 'Shopping',
       'Health and Wellness', 'Home and Garden', 'Professional Services',
       'Finances', 'Recreation', 'Personal Expenses', 'Pets',
       'Food and Dining', 'Housing and Utilities', 'Career', 'Household',
       'Philanthropy', 'Clothing', 'Art', 'Grooming', 'Fitness',
       'Beverages', 'Personal Care', 'Food and Beverage'], dtype=object)

In [11]:
#Drop NA Values
categories_data_all = categories_data_all.dropna()
# If category contains "Food|Beverages", then categorise as "Food and Beverages"
categories_data_all.loc[categories_data_all['Category'].str.contains("Food|Beverages"), 'Category'] = "Food and Beverages"
# If category contains "Utilities|Home|House", then categorise as "Housing and Utilities"
categories_data_all.loc[categories_data_all['Category'].str.contains("House|Home|Utilities"), 'Category'] = "Housing and Utilities"
# If category contains "Health|Wellness|Healthcare", then categorise as "Health and Wellness"
categories_data_all.loc[categories_data_all['Category'].str.contains("Health|Wellness|Healthcare"), 'Category'] = "Health and Wellness"
# If category contains "Shopping|Clothing|Beauty|Personal Care|Grooming", then categorise as "Clothing and Grooming"
categories_data_all.loc[categories_data_all['Category'].str.contains("Shopping|Clothing|Beauty|Personal Care|Grooming"), 'Category'] = "Clothing and Grooming"
# If category contains "Sports|Fitness", then categorise as "Sport and Fitness"
categories_data_all.loc[categories_data_all['Category'].str.contains("Sports|Fitness"), 'Category'] = "Sport and Fitness"
# If category contains "Real Estate|Finance|Investment|Finances", then categorise as "Finance and Banking"
categories_data_all.loc[categories_data_all['Category'].str.contains("Real Estate|Finance|Investment|Finances"), 'Category'] = "Finance and Banking"
# If category contains "Technology|Electronics", then categorise as "Electronics"
categories_data_all.loc[categories_data_all['Category'].str.contains("Technology|Electronics"), 'Category'] = "Electronics"

In [12]:
# Remove the numbering from Transaction column
categories_data_all['Transaction'] = categories_data_all['Transaction'].str.replace(r'\d+\.\s+', '', regex=True)
categories_data_all

/var/folders/np/fsmmqv553396h0shtq8tcsv40000gn/T/ipykernel_2661/4197818599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_data_all['Transaction'] = categories_data_all['Transaction'].str.replace(r'\d+\.\s+', '', regex=True)

,Transaction vs Category,Transaction,Category
2,1. Home Repair - Home Improvement,Home Repair,Housing and Utilities
3,2. Pharmacy Medication - Healthcare,Pharmacy Medication,Health and Wellness
4,3. Pizza Delivery - Food,Pizza Delivery,Food and Beverages
5,4. Laptop Repair - Electronics,Laptop Repair,Electronics
6,5. Dividend Income - Investment,Dividend Income,Finance and Banking
...,...,...,...
98,30. Chiropractic Session - Healthcare,Chiropractic Session,Health and Wellness
104,1. Fitness App Subscription - Entertainment,Fitness App Subscription,Entertainment
105,2. Ski Pass - Recreation,Ski Pass,Recreation
106,3. Skin Care Products - Personal Care,Skin Care Products,Clothing and Grooming
107,4. Starbucks Coffee - Food and Beverage,Starbucks Coffee,Food and Beverages

In [13]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
data = pd.read_csv("Financial_Transactions_2023_2024.csv")
data.loc[data['Name / Description'].str.contains("Care"), 'Name / Description'] = "Skin Care Products"
data = pd.merge(data, categories_data_all, left_on='Name / Description', right_on='Transaction', how='left')
data

,Date,Name / Description,Expense / Income,Amount (EUR),Transaction vs Category,Transaction,Category
0,2023-01-01,Home Repair,Expense,504.99,1. Home Repair - Home Improvement,Home Repair,Housing and Utilities
1,2023-01-02,Pharmacy Medication,Expense,1356.44,2. Pharmacy Medication - Healthcare,Pharmacy Medication,Health and Wellness
2,2023-01-03,Pizza Delivery,Expense,1621.80,3. Pizza Delivery - Food,Pizza Delivery,Food and Beverages
3,2023-01-04,Laptop Repair,Expense,867.14,4. Laptop Repair - Electronics,Laptop Repair,Electronics
4,2023-01-05,Dividend Income,Income,1505.51,5. Dividend Income - Investment,Dividend Income,Finance and Banking
...,...,...,...,...,...,...,...
451,2024-03-27,Water Bill,Expense,1145.83,19. Water Bill - Utilities,Water Bill,Housing and Utilities
452,2024-03-28,Yoga Retreat,Expense,1550.49,7. Yoga Retreat - Travel,Yoga Retreat,Travel
453,2024-03-29,Massage Session,Expense,1800.70,14. Massage Session - Wellness,Massage Session,Health and Wellness
454,2024-03-30,Medical Insurance,Expense,811.59,10. Medical Insurance - Finances,Medical Insurance,Finance and Banking
455,2024-03-31,Cleaning Services,Expense,1791.21,15. Cleaning Services - Home and Garden,Cleaning Services,Housing and Utilities

In [14]:
data.to_csv("Financial_Transactions_2023_2024_categorized.csv", index=False)